@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                   F o n t s                    * */
/************************************************** */
/************************************************** */
/*                    T e x t                     * */
/************************************************** */
/************************************************** */
/*                    F l e x                     * */
/************************************************** */
/************************************************** */
/*                A b s o l u t e                 * */
/************************************************** */
/************************************************** */
/*                   F i x e d                    * */
/************************************************** */
/************************************************** */
/*                   I n p u t                    * */
/************************************************** */
/************************************************** */
/*                  B u t t o n                   * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                   F o n t s                    * */
/************************************************** */
/************************************************** */
/*                    T e x t                     * */
/************************************************** */
/************************************************** */
/*                    F l e x                     * */
/************************************************** */
/************************************************** */
/*                A b s o l u t e                 * */
/************************************************** */
/************************************************** */
/*                   F i x e d                    * */
/************************************************** */
/************************************************** */
/*                   I n p u t                    * */
/************************************************** */
/************************************************** */
/*                  B u t t o n                   * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
.purple-gradient-start {
  stop-color: #BC9CFF;
}
.purple-gradient-stop {
  stop-color: #8BA4F9;
}

.green-gradient-start {
  stop-color: #6FCF97;
}
.green-gradient-stop {
  stop-color: #66D2EA;
}

.logo {
  fill: none;
}
.logo .logo__word {
  fill: #1F2041;
}

.facebook, .instagram, .twitter {
  fill: none;
}

/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                   F o n t s                    * */
/************************************************** */
/************************************************** */
/*                    T e x t                     * */
/************************************************** */
/************************************************** */
/*                    F l e x                     * */
/************************************************** */
/************************************************** */
/*                A b s o l u t e                 * */
/************************************************** */
/************************************************** */
/*                   F i x e d                    * */
/************************************************** */
/************************************************** */
/*                   I n p u t                    * */
/************************************************** */
/************************************************** */
/*                  B u t t o n                   * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
html {
  font-size: 14px;
}

*:not(span) {
  font-family: Montserrat, serif;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
*:not(span):before, *:not(span):after {
  box-sizing: border-box;
}
*:not(span):active, *:not(span):focus {
  outline: none;
}

body {
  color: rgba(31, 32, 65, 0.75);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  user-select: none;
  min-height: 100vh;
}

main {
  background: white;
  flex-grow: 1;
}

h1 {
  color: #1F2041;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
}

h2 {
  color: #1F2041;
  font-weight: 700;
  font-size: 19px;
  line-height: 23.16px;
}

h3, .label {
  font-size: 12px;
  line-height: 19.63px;
  font-weight: 700;
  color: #1F2041;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
a[disabled] {
  pointer-events: none;
  cursor: default;
  color: rgba(31, 32, 65, 0.5);
}

ul, li {
  list-style-type: none;
}

details > summary {
  list-style: none;
}

summary:before, summary:after, input:before, input:after, button:before, button:after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Material Icons, serif;
  pointer-events: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

summary::-webkit-details-marker {
  display: none;
}

.input {
  width: 320px;
  height: 44px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 0 14px;
}
.input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .input:hover, .input:focus {
    border-color: 1px solid rgba(31, 32, 65, 0.5);
  }
  .input[type=number], .input[type=number]:hover, .input[type=number]:focus {
    -moz-appearance: textfield;
  }
  .input[type=number]::-webkit-inner-spin-button, .input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.button {
  font-size: 12px;
  line-height: 19.63px;
  font-weight: 700;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
  height: 44px;
  text-transform: uppercase;
  border-radius: 22px;
  padding: 0 20px;
  position: relative;
}
.button[disabled] {
  filter: opacity(50%);
}
.button:before, .button:after {
  pointer-events: none;
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .button:hover:not([disabled]) {
    filter: saturate(250%);
  }
  .button:active:not([disabled]) {
    filter: none;
  }
  .button:focus {
    text-shadow: none;
    box-shadow: 0 0 3px #8BA4F9;
  }
}
.button-purple {
  font-size: 12px;
  line-height: 19.63px;
  font-weight: 700;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
  height: 44px;
  text-transform: uppercase;
  border-radius: 22px;
  padding: 0 20px;
  position: relative;
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button-purple[disabled] {
  filter: opacity(50%);
}
.button-purple:before, .button-purple:after {
  pointer-events: none;
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .button-purple:hover:not([disabled]) {
    filter: saturate(250%);
  }
  .button-purple:active:not([disabled]) {
    filter: none;
  }
  .button-purple:focus {
    text-shadow: none;
    box-shadow: 0 0 3px #8BA4F9;
  }
}
.button-white {
  font-size: 12px;
  line-height: 19.63px;
  font-weight: 700;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
  height: 44px;
  text-transform: uppercase;
  border-radius: 22px;
  padding: 0 20px;
  position: relative;
  color: #BC9CFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button-white[disabled] {
  filter: opacity(50%);
}
.button-white:before, .button-white:after {
  pointer-events: none;
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .button-white:hover:not([disabled]) {
    filter: saturate(250%);
  }
  .button-white:active:not([disabled]) {
    filter: none;
  }
  .button-white:focus {
    text-shadow: none;
    box-shadow: 0 0 3px #8BA4F9;
  }
}
.button-white:before {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: white;
  border-radius: 21px;
  display: block;
}
.button-icon {
  padding: 0 48px;
}
.button-icon:after {
  position: absolute;
  top: 0;
  right: -1px;
  content: "arrow_forward";
  width: 44px;
  height: 44px;
  color: white;
}

.container {
  min-width: 380px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 70px 140px 50px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: calc(70px - (1440px - 100vw) * 0.0446428571) calc(140px - (1440px - 100vw) * 0.1636904762);
  }
}
@media (max-width: 768px) {
  .container {
    padding: calc(40px - (768px - 100vw) * 0.0515463918) calc(30px - (768px - 100vw) * 0.0386597938);
  }
}
@media (max-width: 540px) {
  .container {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .container {
    padding: 20px 15px;
  }
}

/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                   F o n t s                    * */
/************************************************** */
/************************************************** */
/*                    T e x t                     * */
/************************************************** */
/************************************************** */
/*                    F l e x                     * */
/************************************************** */
/************************************************** */
/*                A b s o l u t e                 * */
/************************************************** */
/************************************************** */
/*                   F i x e d                    * */
/************************************************** */
/************************************************** */
/*                   I n p u t                    * */
/************************************************** */
/************************************************** */
/*                  B u t t o n                   * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
.subscribe {
  display: flex;
  position: relative;
  /* Эффекты с компьютерной мышкой */
}
.subscribe .subscribe__input {
  padding-right: 50px;
}
.subscribe .subscribe__button {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.subscribe .subscribe__button:after {
  content: "arrow_forward";
  color: #BC9CFF;
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .subscribe .subscribe__button:hover, .subscribe .subscribe__button:focus {
    filter: saturate(300%);
  }
  .subscribe .subscribe__button:active {
    filter: none;
  }
}

/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                   F o n t s                    * */
/************************************************** */
/************************************************** */
/*                    T e x t                     * */
/************************************************** */
/************************************************** */
/*                    F l e x                     * */
/************************************************** */
/************************************************** */
/*                A b s o l u t e                 * */
/************************************************** */
/************************************************** */
/*                   F i x e d                    * */
/************************************************** */
/************************************************** */
/*                   I n p u t                    * */
/************************************************** */
/************************************************** */
/*                  B u t t o n                   * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
.header {
  background: white;
}
.header .header__container {
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .header__logo {
  z-index: 202;
  height: 40px;
}
.header .menu {
  z-index: 201;
  background: white;
  display: flex;
  justify-content: center;
  margin-top: 1px;
}
@media (max-width: 767.49px) {
  .header .menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 70px 30px;
  }
}
.header .menu[data-authorized] > .menu__authorization {
  display: none;
}
.header .menu:not([data-authorized]) > .menu__account {
  display: none;
}
.header .menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 20px;
}
.header .menu__item:first-of-type {
  margin-left: 0;
}
@media (max-width: 1079.5px) {
  .header .menu__item {
    margin-left: calc(20px - (1080px - 100vw) * 0.0256410256);
  }
}
@media (max-width: 767.49px) {
  .header .menu__item {
    margin-top: 20px;
    margin-left: 0;
  }
  .header .menu__item:first-of-type {
    margin-top: 0;
  }
}
.header .menu__link {
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  height: 22px;
  display: flex;
  align-items: center;
}
@media (max-width: 767.49px) {
  .header .menu__link {
    color: rgba(31, 32, 65, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    height: 28px;
    justify-content: center;
  }
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .header .menu__link:not(.menu__link_active):hover, .header .menu__link:not(.menu__link_active):focus {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(31, 32, 65, 0.5);
  }
  .header .menu__link:not(.menu__link_active):hover {
    color: rgba(31, 32, 65, 0.75);
  }
  .header .menu__link:not(.menu__link_active):active {
    border: none;
  }
}
@media (max-width: 767.49px) {
  .header .menu__link_icon {
    margin-left: 25px;
  }
}
.header .menu__link_icon:after {
  content: "expand_more";
  padding-left: 1px;
}
.header .menu__link_active {
  color: rgba(31, 32, 65, 0.75);
  font-weight: 700;
}
.header a.menu__link_active {
  cursor: default;
  pointer-events: none;
}
.header .menu__submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 101;
  min-width: 144px;
  max-width: 196px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 18px;
}
@media (max-width: 767.49px) {
  .header .menu__submenu {
    width: 100%;
    border: none;
    justify-content: center;
    position: static;
  }
}
.header .menu__sub-item {
  margin-top: 14px;
}
.header .menu__sub-item:first-of-type {
  margin-top: 0;
}
@media (max-width: 767.49px) {
  .header .menu__sub-item {
    margin-top: 16px;
  }
}
.header .menu__sub-link {
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  height: 20px;
}
@media (max-width: 767.49px) {
  .header .menu__sub-link {
    height: 24px;
    font-size: 16px;
  }
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .header .menu__sub-link:hover, .header .menu__sub-link:focus {
    border-bottom: 1px solid rgba(31, 32, 65, 0.5);
  }
  .header .menu__sub-link:hover {
    color: rgba(31, 32, 65, 0.75);
  }
  .header .menu__sub-link:active {
    border-bottom: none;
  }
}
.header .menu__button {
  height: 34px;
  border-radius: 17px;
  position: relative;
}
.header .menu__button_icon {
  font-family: FontAwesome, serif;
  font-size: 22px;
  background: none;
  display: none;
}
@media (min-width: 767.51px) and (max-width: 1079.49px) {
  .header .menu__button_text {
    display: none;
  }
  .header .menu__button_icon {
    display: inline-block;
  }
}
.header .menu__account {
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  padding-left: 20px;
}
@media (max-width: 1439.49px) {
  .header .menu__account {
    max-width: calc(350px - (380px - 100vw) * 0.2976190476);
  }
}
@media (max-width: 767.49px) {
  .header .menu__account {
    max-width: 100%;
    padding-right: 20px;
    margin-top: 40px;
  }
}
.header .menu__account_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 767.49px) {
  .header .menu__account_text {
    font-size: 18px;
    color: rgba(31, 32, 65, 0.75);
  }
}
.header .header__menu-icon, .header .header__menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.header .header__menu-icon {
  z-index: 202;
}
@media (max-width: 767.49px) {
  .header .header__menu-icon {
    display: flex;
  }
}
.header .header__menu-icon[data-action=open] > .header__menu-button_menu {
  display: flex;
}
.header .header__menu-icon[data-action=close] > .header__menu-button_close {
  display: flex;
}
.header .header__menu-icon[data-action=close] ~ .menu {
  display: flex;
}
.header .header__menu-button_menu {
  padding: 0 48px;
}
.header .header__menu-button_menu:after {
  position: absolute;
  top: 0;
  right: -1px;
  content: "menu";
  width: 40px;
  height: 40px;
  color: white;
}
.header .header__menu-button_close {
  padding: 0 48px;
}
.header .header__menu-button_close:after {
  position: absolute;
  top: 0;
  right: -1px;
  content: "close";
  width: 40px;
  height: 40px;
  color: white;
}
.header .header__menu-button_menu, .header .header__menu-button_close {
  padding: 0;
}
.header .header__menu-button_menu:after, .header .header__menu-button_close:after {
  font-size: 30px;
  right: 0;
}

/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                   F o n t s                    * */
/************************************************** */
/************************************************** */
/*                    T e x t                     * */
/************************************************** */
/************************************************** */
/*                    F l e x                     * */
/************************************************** */
/************************************************** */
/*                A b s o l u t e                 * */
/************************************************** */
/************************************************** */
/*                   F i x e d                    * */
/************************************************** */
/************************************************** */
/*                   I n p u t                    * */
/************************************************** */
/************************************************** */
/*                  B u t t o n                   * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
.footer {
  background: white;
  /* Дисплей от 1320px до 1440px */
  /* Дисплей до 1320px */
  /* Дисплей до 768px */
  /* Дисплей от 580px до 640px */
  /* Дисплей до 580px */
  /* Эффекты с компьютерной мышкой */
}
.footer .footer-menu {
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.footer .footer-menu__container {
  padding-top: 101px;
  padding-bottom: 97px;
}
.footer .footer-menu__logo {
  height: 40px;
}
.footer .footer-menu__about, .footer .footer-menu__subscribe {
  width: 260px;
}
.footer .footer-menu__description {
  margin-top: 10px;
}
.footer .footer-menu__subscribe {
  padding-top: 2px;
}
.footer .footer-menu__text {
  margin-top: 16px;
}
.footer .footer-menu__form {
  width: 100%;
  margin-top: 23px;
}
.footer .menu {
  display: flex;
  margin: 2px 20px 0;
}
.footer .menu__list {
  padding: 0 20px;
}
.footer .menu__list:first-of-type {
  padding-left: 0;
}
.footer .menu__list:last-of-type {
  padding-right: 0;
}
.footer .menu__column {
  width: 160px;
}
.footer .menu__item {
  margin-top: 14px;
}
.footer .menu__item:first-of-type {
  margin-top: 16px;
}
.footer .menu__link {
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.footer .menu__caption {
  font-size: 12px;
  line-height: 19.63px;
  font-weight: 700;
  color: #1F2041;
  text-transform: uppercase;
  pointer-events: none;
  cursor: pointer;
}
.footer .menu__column[open] > .menu__caption:after {
  transform: rotate(180deg);
}
.footer .footer-copyright__container {
  padding-top: 23px;
  padding-bottom: 23px;
}
.footer .footer-copyright__logo {
  height: 40px;
  display: none;
}
.footer .footer-copyright__text {
  text-align: center;
}
.footer .footer-copyright__links {
  display: flex;
}
.footer .footer-copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-left: 20px;
}
.footer .footer-copyright__link:first-of-type {
  margin-left: 0;
}
@media (min-width: 1320px) and (max-width: 1440px) {
  .footer .menu {
    margin: 2px calc(20px - (1440px - 100vw) / 12) 0;
  }
  .footer .menu__list {
    padding: 0 calc(20px - (1440px - 100vw) / 12);
  }
}
@media (max-width: 1320px) {
  .footer .footer-menu__container {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-menu__about, .footer .footer-menu__subscribe {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-menu__description, .footer .footer-menu__text {
    text-align: center;
  }
  .footer .menu {
    margin: 40px 20px;
  }
}
@media (max-width: 768px) {
  .footer .footer-menu__about {
    display: none;
  }
  .footer .menu {
    margin: 0 0 40px;
  }
  .footer .footer-copyright__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .footer .footer-copyright__logo {
    display: block;
    margin-bottom: 17px;
  }
  .footer .footer-copyright__links {
    margin-top: 21px;
  }
}
@media (min-width: 580px) and (max-width: 640px) {
  .footer .menu__list {
    padding: 0 calc(20px - (640px - 100vw) / 6);
  }
}
@media (max-width: 580px) {
  .footer .menu {
    flex-direction: column;
  }
  .footer .menu__list {
    padding: 0;
    margin-top: 23px;
  }
  .footer .menu__list:first-of-type {
    margin-top: 0;
  }
  .footer .menu__column {
    width: 260px;
  }
  .footer .menu__item {
    text-align: center;
  }
  .footer .menu__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
    width: fit-content;
    height: 22px;
    position: relative;
    margin: 0 auto;
  }
  .footer .menu__caption:after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Material Icons, serif;
    pointer-events: none;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    position: absolute;
    top: 0;
    right: -25px;
    content: "expand_more";
    height: 22px;
    width: 24px;
  }
}
@media (hover), (min-width: 0\0 ), (min--moz-device-pixel-ratio: 0) {
  .footer .menu__link:hover, .footer .menu__link:focus {
    border-bottom: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
  }
  .footer .menu__link:active {
    color: rgba(31, 32, 65, 0.75);
    border-bottom: none;
  }
  .footer .footer-copyright__link:hover, .footer .footer-copyright__link:focus {
    filter: saturate(300%);
  }
  .footer .footer-copyright__link:active {
    filter: none;
  }
}
@media (hover) and (max-width: 580px), (min-width: 0\0 ) and (max-width: 580px), (min--moz-device-pixel-ratio: 0) and (max-width: 580px) {
  .footer .menu__caption:hover, .footer .menu__caption:focus {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(31, 32, 65, 0.5);
  }
  .footer .menu__caption:hover:after, .footer .menu__caption:focus:after {
    top: -1px;
  }
  .footer .menu__caption:active {
    border: none;
  }
  .footer .menu__caption:active:after {
    transform: rotate(180deg);
    top: 0;
  }
  .footer .menu__column[open] > .menu__caption:active:after {
    transform: none;
    top: 0;
  }
}

/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
/************************************************** */
/*                   F o n t s                    * */
/************************************************** */
/************************************************** */
/*                    T e x t                     * */
/************************************************** */
/************************************************** */
/*                    F l e x                     * */
/************************************************** */
/************************************************** */
/*                A b s o l u t e                 * */
/************************************************** */
/************************************************** */
/*                   F i x e d                    * */
/************************************************** */
/************************************************** */
/*                   I n p u t                    * */
/************************************************** */
/************************************************** */
/*                  B u t t o n                   * */
/************************************************** */
/************************************************** */
/*                 P a l e t t e                  * */
/************************************************** */
/************************************************** */
/*                  C o l o r s                   * */
/************************************************** */
/************************************************** */
/*                   S i z e s                    * */
/************************************************** */
/************************************************** */
/*                 O b j e c t s                  * */
/************************************************** */
.landing-page {
  height: 830px;
  background-image: url(../images/background-landing-page.jpg);
  background-repeat: no-repeat;
  background-size: auto min(1022px, calc(1022 * (100vw / 1080)));
  background-position: top max(-131px, calc(131 * ((100vw - 1440px) / -900) - 131px)) center;
}
.landing-page .landing-page__container {
  height: 100%;
}
.landing-page .landing-page__about {
  position: absolute;
  bottom: 21px;
  right: 134px;
  width: 300px;
  text-align: right;
}
@media (max-width: 1440px) {
  .landing-page .landing-page__about {
    right: calc(140px - 6px - (1440px - 100vw) * 0.1636904762);
  }
}
@media (max-width: 1080px) {
  .landing-page {
    height: calc(830px - (1080px - 100vw) * 0.5128205128);
  }
}
@media (max-width: 768px) {
  .landing-page {
    height: calc(670px - (768px - 100vw) * 0.8333333333);
  }
  .landing-page .landing-page__about {
    right: calc(30px - (768px - 100vw) * 0.0386597938);
  }
}
@media (max-width: 540px) {
  .landing-page {
    height: calc(480px - (540px - 100vw) * 0.5);
    background-size: auto calc(480px - (540px - 100vw) * 0.5);
    background-position: top 0 center;
  }
  .landing-page .landing-page__about {
    visibility: hidden;
    right: 0;
  }
}
@media (max-width: 380px) {
  .landing-page {
    height: 400px;
    background-size: auto 400px;
    background-position: top 0 left -110px;
  }
}

/*# sourceMappingURL=index.css.map */
