@import ../vars&mixins/index

.logo
  fill: none
  & .logo
    &__word
      fill: $DarkShade
    &__left-element
      stop-color: $Purple
    &__left-element_offset
      stop-color: $PurpleLight
    &__right-element
      stop-color: $Green
    &__right-element_offset
      stop-color: $GreenLight
    &__circle
      stop-color: $Purple
    &__circle_offset
      stop-color: $PurpleLight